<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css"  media="all">
    <script src="layui/layui.js" th:inline="none" charset="utf-8"></script>
    <script src="assets/js/jquery.min.js" th:inline="none" ></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <script src="assets/js/bootstrap.min.js"></script>
</head>
<body>
<form class="layui-form" action="">
    <table width="100%" class="table">
        <tbody>
        <tr>
            <td colspan="6" style="background-color: #FAFAFA;height: 50px">
                盗抢车辆信息
            </td>
        </tr>
        <tr>
            <td>车牌号码</td>
            <td><input type="text" name="car_number"class="layui-input" th:value="${car_number}"></td>
            <td>发动机号</td>
            <td><input type="text" name="car_engine_number"class="layui-input" th:value="${car_engine_number}"></td>
            <td>车架号</td>
            <td><input type="text" name="car_vin"class="layui-input" th:value="${car_vin}"></td>
        </tr>
        <tr>
            <td>车牌颜色</td>
            <td><input type="text" name="license_plate_color"class="layui-input" th:value="${license_plate_color}"></td>
            <td>发动品牌</td>
            <td><input type="text" name="car_brand"class="layui-input" th:value="${car_brand}"></td>
            <td>车型</td>
            <td><input type="text" name="car_type"class="layui-input" th:value="${car_type}"></td>
        </tr>
        <tr>
            <td>新车购置价</td>
            <td><input type="text" name="pay_price"class="layui-input" th:value="${pay_price}"></td>
            <td>已行驶公里数</td>
            <td><input type="text" name="driving_kilometre"class="layui-input" th:value="${driving_kilometre}"></td>
            <td>实际使用年龄</td>
            <td><input type="text" name="service_life"class="layui-input" th:value="${service_life}"></td>
        </tr>
        <tr>
            <td>
                备注
            </td>
            <td colspan="5">
                <textarea name="comment" placeholder="请输入内容" class="layui-textarea" th:text="${fixed_loss_comment}"></textarea>
            </td>
        </tr>
        <tr>
            <td >
                定损备注
            </td>
            <td colspan="5">
                <textarea name="fixed_loss_comment" placeholder="请输入内容" class="layui-textarea" th:text="${fixed_loss_comment}"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div style="float:right;">
                    <a href="#" class="layui-btn">上传文档</a>
                    <a href="#" class="layui-btn">现场查勘记录</a>
                    <a href="#" class="layui-btn">索赔申请书</a>
                    <a href="#" class="layui-btn">索赔须知</a>
                    <a href="#" class="layui-btn">暂缓</a>
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){

            $.ajax({
                url:"robberyAdd",
                type:'post',
                data:data.field,
                dataType:'json',
                success:function () {
                    layer.msg("保存成功");
                }
            })
            return false;
        });
    });
</script>
</body>
</html>