<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="layui/css/layui.css"  media="all">
    <script src="layui/layui.js" th:inline="none" charset="utf-8"></script>
    <script src="assets/js/jquery.min.js" th:inline="none" ></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <script src="assets/js/bootstrap.min.js"></script>

</head>
<body>
<form class="layui-form" action="">
<table class="table">
    <caption></caption>
    <tbody>
    <tr>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >车架号</div>
                </div>
                <div class="layui-col-xs6">
                    <input type="hidden" name="instance_id" class="layui-input" th:value="${instance_id}">
                    <div class="grid-demo" style="float: left"><input type="text" name="car_vin" class="layui-input" th:value="${car_vin}"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >车牌号码</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo" style="float: left"><input type="text" name="car_number" class="layui-input" th:value="${car_number}"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >发动机号</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo" style="float: left"><input type="text" name="car_engine_number" class="layui-input" th:value="${car_engine_number}"></div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >厂牌型号</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo" style="float: left"><input type="text" name="factory_license_vehicle_type" class="layui-input" th:value="${factory_license_vehicle_type}"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >车牌颜色</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo" style="float: left"><input type="text" name="car_number_color" class="layui-input" th:value="${car_number_color}"></div>
                </div>
            </div>

        </td>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >生产厂家</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo" style="float: left"><input type="text" name="manufacturer" class="layui-input" th:value="${manufacturer}"></div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >事故地点</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo" style="float: left"><input type="text" name="location" class="layui-input" th:value="${location}"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >事故责任</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo" style="float: left"><input type="text" name="accident" class="layui-input" th:value="${accident}"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >是否车主</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo" style="float: left"><input type="text" name="is_main_car" class="layui-input" th:value="${is_main_car}"></div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >牌号种类</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo" style="float: left"><input type="text" name="brandType" class="layui-input"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >驾驶员</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo" style="float: left"><input type="text" name="driver_truename" class="layui-input" th:value="${driver_truename}"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >驾驶证号</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo" style="float: left"><input type="text" name="driver_license_number" class="layui-input" th:value="${driver_license_number}"></div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >初次领证时间</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo" style="float: left"><input type="text" name="first_register_time" class="layui-input" th:value="${first_register_time}"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >联系方式</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo" style="float: left"><input type="text" name="phone" class="layui-input" th:value="${phone}"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1" style="float: right;width: 100px;padding-top: 7px" >性别</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo" style="float: left"><input type="text" name="driversLicen" class="layui-input" th:value="${sex}"></div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td  colspan="3">
            <div class="grid-demo grid-demo-bg1" style="float: left;width: 100px;padding-top: 7px" >是否保险责任</div>
            <div class="grid-demo" style="float: left"><input type="text" name="driversLicen" class="layui-input"></div>
        </td>
    </tr>
    <tr>
        <td  colspan="3">
            <div class="grid-demo grid-demo-bg1" style="float: left;width: 100px;padding-top: 7px" >查勘备注</div>
            <div class="grid-demo" style="float: left"><input type="text" name="comment" class="layui-input" th:value="${comment}"></div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <div style="float:right;">
                <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <a href="#" class="layui-btn">现场查勘记录</a>
                <a href="#" class="layui-btn">索赔申请书</a>
                <a href="#" class="layui-btn">索赔须知</a>
                <button class="layui-btn" lay-submit lay-filter="formDemo1" type="button">暂缓</button>
                <button class="layui-btn" lay-submit lay-filter="formDemo" type="button">立即提交</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</form>

<script>


    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: 'upload' //上传接口
            ,done: function(res){
                //上传完毕回调
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });







    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url:"carAdd",
                type:'post',
                data:data.field,
                dataType:'json',
                success:function () {
                    layer.msg("保存成功");
                }
            })

            return false;
        });
        //监听提交
        form.on('submit(formDemo1)', function(data){
            $.ajax({
                url:"investigationAdd",
                type:'post',
                data:data.field,
                dataType:'json',
                success:function () {
                    layer.msg("保存成功");
                }
            })

            return false;
        });
    });

</script>
</body>
</html>