<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script th:src="@{'/js/jquery-1.12.4.js'}"></script>
    <link th:href="@{'/bootstrap/bootstrap.min.css'}" rel="stylesheet" type="text/css">
    <script th:src="@{'/bootstrap/bootstrap.min.js'}"></script>
    <link th:href="@{'/layui/css/layui.css'}" rel="stylesheet" type="text/css">
    <script th:src="@{'/layui/layui.js'}"></script>
    <link th:href="@{'/css/waitingDamage.css'}" rel="stylesheet" type="text/css">
    <script type="text/html" id="edit1">
        <div>
            <button type="button" class="btn btn-default">核损</button>
        </div>
    </script>
</head>
<body>
<form class="bs-example bs-example-form" role="form">
    <div class="form-group" style="margin: 20px 420px;">
        <div class="input-group">
            <span class="input-group-addon">赔案编号:</span>
            <input type="text" class="form-control" name="compensate_case_id">
        </div>
        <div class="input-group">
            <span class="input-group-addon">被保险人:</span>
            <input type="text" class="form-control" name="insured_truename">
        </div>
    </div>
    <div style="float: right;margin: -108px 420px;" class="form-group">
        <div class="input-group">
            <span class="input-group-addon">调度编号:</span>
            <input type="text" class="form-control" name="schedule_id">
        </div>
        <div class="input-group">
            <span class="input-group-addon">车牌号:</span>
            <input type="text" class="form-control" name="car_number">
        </div>
    </div>
    <div style="width: 100px;margin: 0 auto;" class="form-group">
        <button style="width: 100px;" type="button" class="btn btn-default" data-dismiss="modal">查询</button>
    </div>
</form>
<div>
    <button type="button" id="carLossBtn" class="btn btn-default" >核损</button>
</div>
<table class="layui-table" id="showData" lay-filter="documentsTable">

</table>
<div class="modal fade" id="carLossModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width: 1050px;" class="modal-dialog">
        <div style="background:#E8EAED;" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">详细信息</h4>
            </div>
            <div class="modal-body">
                <label>车辆信息</label>
                <div style="padding: 10px;background: #DFEEFF;" class="form-inline">
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">车牌号码:</span>
                        <input type="text" disabled class="form-control" name="car_number">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">车牌颜色:</span>
                        <input type="text" disabled class="form-control" name="car_number_color" id="car_number_color">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">生产厂家:</span>
                        <input type="text" disabled class="form-control" name="manufacturer" id="manufacturer">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">车架号:</span>
                        <input type="text" disabled class="form-control" name="car_vin" id="car_vin">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">发动机号:</span>
                        <input type="text" disabled class="form-control" name="car_engine_number" id="car_engine_number">
                    </div>
                </div>
                <br/>
                <label>修理厂信息</label>
                <div style="padding: 10px;background: #DFEEFF;" class="form-inline">
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">直赔/外修:</span>
                        <input type="text" disabled class="form-control" name="rest_type" id="rest_type">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">修理厂名称:</span>
                        <input type="text" disabled class="form-control" name="repair_depot_name" id="repair_depot_name">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">修理厂资质:</span>
                        <input type="text" disabled class="form-control" name="repair_depot_level" id="repair_depot_level">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">修理厂电话:</span>
                        <input type="text" disabled class="form-control" name="repair_depot_phone" id="repair_depot_phone">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">修理厂传真:</span>
                        <input type="text" disabled class="form-control" name="repair_depot_fax" id="repair_depot_fax">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">修理厂联系人:</span>
                        <input type="text" disabled class="form-control" name="repair_depot_linkman" id="repair_depot_linkman">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">修理厂地址:</span>
                        <input type="text" disabled class="form-control" name="repair_depot_address" id="repair_depot_address">
                    </div>
                </div>
                <br/>
                <label id="projectLabel">更换项目</label>
                <table class="layui-table" id="showProject" lay-filter="documentsTable">

                </table>
                <div style="padding: 10px;background: #DFEEFF;" class="form-inline">
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">定损施救费用:</span>
                        <input type="text" disabled class="form-control" name="fee_rescue_price" id="fee_rescue_price">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">定损折扣残值:</span>
                        <input type="text" disabled class="form-control" name="fixed_loss_discount" id="fixed_loss_discount">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">定损管理费比率:</span>
                        <input type="text" disabled class="form-control" name="opinion_manager_fee" id="opinion_manager_fee">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">核损施救费用:</span>
                        <input type="text" class="form-control" name="nuclear_rescue_price" id="nuclear_rescue_price">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">核损折扣残值:</span>
                        <input type="text" class="form-control" name="verify_loss_discount" id="verify_loss_discount">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">核损管理费比率:</span>
                        <input type="text" class="form-control" name="verify_manager_fee_ratio" id="verify_manager_fee_ratio">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">定损方式:</span>
                        <input type="text" disabled class="form-control" name="fixed_loss_method" id="fixed_loss_method">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;height: 20px;" class="input-group-addon">定损备注:</span>
                        <textarea cols="22" disabled rows="4" id="fixed_loss_comment" name="fixed_loss_comment" class="form-control"></textarea>
                    </div>

                    <div class="input-group">
                        <span style="width: 120px;height: 20px;" class="input-group-addon">核损备注:</span>
                        <textarea cols="22" rows="4" id="verify_comment" name="verify_comment" class="form-control"></textarea>
                    </div>
                    <div class="layui-inline layui-form">
                        <label style="width: 100px;" class="layui-form-label">核损意见</label>
                        <div class="layui-input-block">
                            <select name="is_adopt" id="is_adopt" lay-filter="aihao">
                                <option value="0">不通过</option>
                                <option value="1" selected>通过</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br/>
                <label>核损意见</label>
                <div style="padding: 10px;background: #DFEEFF;" class="form-inline">
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">材料费:</span>
                        <input type="text" class="form-control price" value="0" name="verify_material_fee" id="verify_material_fee">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">人工费:</span>
                        <input type="text" class="form-control price" value="0" name="verify_labor_costs" id="verify_labor_costs">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">管理费:</span>
                        <input type="text" class="form-control price" value="0" name="verify_manager_fee" id="verify_manager_fee">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">残值:</span>
                        <input type="text" class="form-control price" value="0" name="verify_residual_value" id="verify_residual_value">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">合计</span>
                        <input type="text" disabled class="form-control" value="0" name="verify_sum_price" id="verify_sum_price">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                <button type="button" id="upDocument" class="btn btn-primary">上传文档</button>
                <button type="button" id="submit" class="btn btn-primary">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="humanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width: 1050px;" class="modal-dialog">
        <div style="background:#E8EAED;" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="humanLabel">人伤查勘详细信息</h4>
            </div>
            <div class="modal-body">
                <label>人伤查勘定损信息</label>
                <div style="padding: 10px;background: #DFEEFF;" class="form-inline">
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">姓名:</span>
                        <input type="text" disabled class="form-control" name="name" id="name">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">性别:</span>
                        <input type="text" disabled class="form-control" name="sex" id="sex">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">年龄:</span>
                        <input type="text" disabled class="form-control" name="age" id="age">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">从事行业:</span>
                        <input type="text" disabled class="form-control" name="occupation" id="occupation">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">工作单位:</span>
                        <input type="text" disabled class="form-control" name="company" id="company">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">标准工资:</span>
                        <input type="text" disabled class="form-control" name="standard_wage" id="standard_wage">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">月收入小计:</span>
                        <input type="text" disabled class="form-control" name="monthly_income" id="monthly_income">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">是否转院治疗:</span>
                        <input type="text" disabled class="form-control" name="is_transfer" id="is_transfer">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">护理人数:</span>
                        <input type="text" disabled class="form-control" name="nursing_number" id="nursing_number">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">护理天数:</span>
                        <input type="text" disabled class="form-control" name="nursing_days" id="nursing_days">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">护理等级:</span>
                        <input type="text" disabled class="form-control" name="nursing_grade" id="nursing_grade">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">护理人月收入:</span>
                        <input type="text" disabled class="form-control" name="nursing_monthly_income" id="nursing_monthly_income">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">护理开始时间:</span>
                        <input type="text" disabled class="form-control" name="nursing_start_time" id="nursing_start_time">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">护理结束时间:</span>
                        <input type="text" disabled class="form-control" name="nursing_stop_time" id="nursing_stop_time">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">就诊医院:</span>
                        <input type="text" disabled class="form-control" name="visiting_hospital" id="visiting_hospital">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">入院时间:</span>
                        <input type="text" disabled class="form-control" name="time_of_admission" id="time_of_admission">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">住院天数:</span>
                        <input type="text" disabled class="form-control" name="hospitalization_days" id="hospitalization_days">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">住院号:</span>
                        <input type="text" disabled class="form-control" name="hospitalization_number" id="hospitalization_number">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">治疗天数:</span>
                        <input type="text" disabled class="form-control" name="number_of_days_of_treatment" id="number_of_days_of_treatment">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">伤势程度:</span>
                        <input type="text" disabled class="form-control" name="degree_of_injury" id="degree_of_injury">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">伤残等级:</span>
                        <input type="text" disabled class="form-control" name="disability_grade" id="disability_grade">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">备注:</span>
                        <textarea cols="120" rows="4" disabled id="survey_comment" name="survey_comment" class="form-control"></textarea>
                    </div>
                </div>
                <br/>
                <label>伤情类别</label>
                <div style="padding: 10px;background: #DFEEFF;" class="form-inline">
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">伤情描述:</span>
                        <textarea cols="120" rows="4" id="Injury_description" name="Injury_description" class="form-control"></textarea>
                    </div>
                </div>
                <br/>
                <label>联系情况:</label>
                <div style="padding: 10px;background: #DFEEFF;" class="form-inline">
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">联系情况:</span>
                        <textarea cols="120" rows="4" id="contact_information" name="contact_information" class="form-control"></textarea>
                    </div>
                    <br/>
                </div>
                <br/>
                <label>赔偿费用情况</label>
                <div style="padding: 10px;background: #DFEEFF;" class="form-inline">
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">受害人车牌号:</span>
                        <input type="text" disabled class="form-control" value="0" name="car_number" id="car_number">
                    </div>

                    <table class="layui-table" id="showHumanInjury" lay-filter="documentsTable">

                    </table>
                    <div style="margin-left: 7px;" class="layui-inline layui-form">
                        <label style="width: 100px;" class="layui-form-label">核损意见</label>
                        <div style="width: 200px;" class="layui-input-block">
                            <select name="is_adopt" id="human_is_adopt" lay-filter="aihao">
                                <option value="0">不通过</option>
                                <option value="1" selected>通过</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">核损备注:</span>
                        <textarea cols="120" rows="4" id="human_verify_comment" name="verify_comment" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                <button type="button" id="human_upDocument" class="btn btn-primary">上传文档</button>
                <button type="button" id="human_submit" class="btn btn-primary">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="goodsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width: 1050px;" class="modal-dialog">
        <div style="background:#E8EAED;" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="goodsLabel">物损查勘详细信息</h4>
            </div>
            <div class="modal-body">
                <label>财产损失信息</label>
                <div style="padding: 10px;background: #DFEEFF;" class="form-inline">
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">财产损失名称:</span>
                        <input type="text" disabled class="form-control" name="property_name" id="property_name">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">物主:</span>
                        <input type="text" disabled class="form-control" name="owner" id="owner">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">联系方式:</span>
                        <input type="text" disabled class="form-control" name="phone" id="phone">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">查看地点:</span>
                        <input type="text" disabled class="form-control" name="location" id="location">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">是否现场查勘:</span>
                        <input type="text" disabled class="form-control" name="is_first_check" id="is_first_check">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">损失描述:</span>
                        <textarea cols="120" rows="4" id="loss_description" name="loss_description" class="form-control"></textarea>
                    </div>
                    <table class="layui-table" id="showGoodsFee" lay-filter="documentsTable">

                    </table>
                    <div style="margin-left: 7px;" class="layui-inline layui-form">
                        <label style="width: 100px;" class="layui-form-label">核损意见</label>
                        <div style="width: 200px;" class="layui-input-block">
                            <select name="is_adopt" id="goods_is_adopt" lay-filter="aihao">
                                <option value="0">不通过</option>
                                <option value="1" selected>通过</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">核损备注:</span>
                        <textarea cols="120" rows="4" id="goods_verify_comment" name="verify_comment" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                <button type="button" id="goods_upDocument" class="btn btn-primary">上传文档</button>
                <button type="button" id="goods_submit" class="btn btn-primary">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="robberyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width: 1050px;" class="modal-dialog">
        <div style="background:#E8EAED;" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="robberyLabel">盗抢核损</h4>
            </div>
            <div class="modal-body">
                <label>盗抢车辆信息</label>
                <div style="padding: 10px;background: #DFEEFF;" class="form-inline">
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">车牌号码:</span>
                        <input type="text" disabled class="form-control" name="car_number" id="robbery_car_number">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">发动机号:</span>
                        <input type="text" disabled class="form-control" name="car_engine_number" id="robbery_car_engine_number">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">车架号:</span>
                        <input type="text" disabled class="form-control" name="car_vin" id="robbery_car_vin">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">车牌颜色:</span>
                        <input type="text" disabled class="form-control" name="license_plate_color" id="license_plate_color">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">车辆品牌:</span>
                        <input type="text" disabled class="form-control" name="car_brand" id="car_brand">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">车型:</span>
                        <input type="text" disabled class="form-control" name="car_type" id="car_type">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">新车购置价:</span>
                        <input type="text" disabled class="form-control" name="pay_price" id="pay_price">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">已行驶公里数:</span>
                        <input type="text" disabled class="form-control" name="driving_kilometre" id="driving_kilometre">
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">实际使用年限:</span>
                        <input type="text" disabled class="form-control" name="service_life" id="service_life">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">备注:</span>
                        <textarea disabled cols="120" rows="4" id="robbery_fixed_loss_comment" name="fixed_loss_comment" class="form-control"></textarea>
                    </div>
                    <br/>
                    <br/>
                    <div style="margin-left: 7px;" class="layui-inline layui-form">
                        <label style="width: 100px;" class="layui-form-label">核损意见</label>
                        <div style="width: 200px;" class="layui-input-block">
                            <select name="is_adopt" id="robbery_is_adopt" lay-filter="aihao">
                                <option value="0">不通过</option>
                                <option value="1" selected>通过</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group">
                        <span style="width: 120px;" class="input-group-addon">核损备注:</span>
                        <textarea disabled cols="120" rows="4" id="robbery_verify_comment" name="robbery_verify_comment" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                <button type="button" id="robbery_upDocument" class="btn btn-primary">上传文档</button>
                <button type="button" id="robbery_submit" class="btn btn-primary">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
<script>
    var form;
    var table;
    var state = 0;
    layui.use(['form','table'],function(){
        form = layui.form;
        form.render();
        table = layui.table;
        showData();

    });
    //渲染表格,显示数据
    function showData(){
        table.render({
            elem: '#showData'
            ,url:'showAll'
            ,cols: [
                [
                {field:'compensate_case_id',title: '赔案编号',align : 'center'}
                ,{field:'schedule_id',title: '调度编号',align : 'center'}
                ,{field:'insured_truename',title: '被保险人',align : 'center'}
                ,{field:'car_number',title: '车牌号',align : 'center'}
                ,{fixed: 'right', title:'操作',align : 'center', toolbar: '#edit1'}
            ]
            ]
            ,page: true
        });
        table.render({
            elem: '#showoHumanInjury'
            ,url:'/demo/table/user/'
            ,cols: [
                [
                {field:'costs_name',width:200,title: '费用名称',align : 'center'}
                ,{field:'insurance_name',width:150,title: '险别名称',align : 'center'}
                ,{field:'details',width:178,title: '描述',align : 'center'}
                ,{field:'formula',width:100,title: '赔付公式',align : 'center'}
                ,{field:'report_loss_price',width:161,title: '报损金额',align : 'center'}
                ,{field:'eliminate_price',width:100,title: '剔除金额',align : 'center'}
                ,{field:'loss_estimation_price',width:100,title: '估损金额',align : 'center'}
                ,{field:'count',width:100,title: '数量',align : 'center'}
            ]
            ]
            ,page: true
        });
        table.render({
            elem: '#showProject'
            ,url:'/demo/table/user/'
            ,cols: [
                [
                {field:'project_name',width:250,title: '项目名称',align : 'center'}
                ,{field:'insurance_name',width:200,title: '险别名称',align : 'center'}
                ,{field:'labor_costs',width:150,title: '定损人工费',align : 'center'}
                ,{field:'material_fee',width:150,title: '定损材料费',align : 'center'}
                ,{field:'accessories_source',width:161,title: '配件来源',align : 'center'}
                ,{field:'count',width:100,title: '数量',align : 'center'}
            ]
            ]
            ,page: true
        });

        table.render({
            elem: '#showGoodsFee'
            ,url:'/demo/table/user/'
            ,cols: [
                [
                {field:'project_name',width:200,title: '费用名称',align : 'center'}
                ,{field:'insurance_name',width:200,title: '险别名称',align : 'center'}
                ,{field:'details',width:150,title: '描述',align : 'center'}
                ,{field:'report_loss_price',width:110,title: '报损金额',align : 'center'}
                ,{field:'eliminate_price',width:110,title: '剔除金额',align : 'center'}
                ,{field:'estimate_price',width:110,title: '估损金额',align : 'center'}
                ,{field:'count',width:110,title: '数量',align : 'center'}
            ]
            ]
            ,page: true
        });
        table.on('row(showData)', function(obj){
            var data = obj.data;
        });
    }
    $(function(){
        $("#carLossBtn").click(function(){
            $('#robberyModal').modal();
        });
        $("#projectLabel").click(function(){
            if(state === 0){
                $("#projectLabel").text("修理项目");
                state = 1;
            }else{
                $("#projectLabel").text("更换项目");
                state = 0;
            }
        });
        $(".price").keyup(function(){
            total();
        });
    });

    function total(){
        var verify_material_fee = $("#verify_material_fee").val() * 1;
        var verify_labor_costs = $("#verify_labor_costs").val() * 1;
        var verify_manager_fee = $("#verify_manager_fee").val() * 1;
        var verify_residual_value = $("#verify_residual_value").val() * 1;
        var sumPrice = verify_material_fee + verify_labor_costs + verify_manager_fee + verify_residual_value;
        $("#verify_sum_price").val(sumPrice);
    }
</script>
</html>