<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	
    <head>
        <!-- META DATA -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <!-- TITLE OF SITE -->
        <title>DashLoon</title>

        <!-- favicon -->
		<!--<link rel="shortcat icon" href="/favicon.ico" type="image/x-icon">-->
       
        <!--font-awesome.min.css-->
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <!--linear icon css-->
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		
		<!--chartist.min.css-->
        <link rel="stylesheet" href="assets/chartist/css/chartist.min.css">

        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        
        <!--style.css-->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="assets/css/responsive.css">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <![endif]-->

    </head>
    
    <body>

    	<!-- wrapper -->
	<div id="wrapper">

		<!-- navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html">
					Dash<span>Loon</span>
				</a>
			</div><!--/.brand -->
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth">
						<i class="lnr lnr-arrow-left-circle"></i>
					</button>
				</div><!--/.navbar-btn -->
				<form class="navbar-form navbar-left">
					<div class="search-group">
						<button type="button"><i data-feather="search"></i></button>
						<input type="text" value="" placeholder="Search..">
					</div><!--/.search-group -->
				</form><!--/form -->
				<div class="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i data-feather="bell"></i>
								<span class="badge badge-bg-1">2</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i data-feather="mail"></i>
								<span class="badge badge-bg-1">3</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="assets/images/parson.png" class="img-circle" alt="parson-img">
								<i class="icon-submenu fa fa-angle-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>我的简介</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>信息</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>设置</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>登出</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div><!--/.container-fluid -->
			
		</nav><!--/nav -->
		<!-- END NAVBAR -->

		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">

						<li class="active">
							<a href="index.html" >
								<i data-feather="home"></i> <span>主页面</span>
							</a>
						</li>

						<li>
							<a href="Fixed">
								<i data-feather="package"></i> <span>定损</span>
							</a>
						</li>

						<li>
							<a href="#">
								<i data-feather="file-text"></i> <span>forms</span>
							</a>
						</li>

						<li>
							<a href="#">
								<i data-feather="grid"></i> <span>tables</span>
							</a>
						</li>

						<li>
							<a href="#">
								<i data-feather="map"></i> <span>maps</span>
							</a>
						</li>

						<li>
							<a href="#">
								<i data-feather="bar-chart"></i> <span>charts</span>
							</a>
						</li>

						<li>
							<a href="#">
								<i data-feather="calendar"></i> <span>calendar</span>
							</a>
						</li>

						<li>
							<a href="#">
								<i data-feather="layout"></i> <span>pages</span>
							</a>
						</li>

						<li>
							<a href="#">
								<i data-feather="layout"></i> <span>pages</span>
							</a>
						</li>

						<li>
							<a href="#">
								<i data-feather="bell"></i> <span>notifications</span>
							</a>
						</li>

				</nav>
			</div>

		</div>
		<!-- END LEFT SIDEBAR -->
		<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >自助建站</a></div>

		<!-- MAIN -->
		<div class="main">

			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">

					<div class="main-content-head">
						<h2>hello ! User</h2>
						<p>欢迎来到后台</p>
					</div>

					<div class="profile-content">
						<div class="row">
							<div class="col-sm-3">
								<div class="profile-state">
									<div class="icon-box">
										<span class="icon-bg icon-bg-1">
											<img src="assets/images/user-icon.png" alt="user-icon">
										</span>
										<h2>访客总人数</h2>
									</div><!--/.icon-box-->
									<h3>32669</h3>
									<p>324 位新用户</p>
								</div><!--/.profile-state-->
							</div><!--/.col-->
							<div class="col-sm-3">
								<div class="profile-state">
									<div class="icon-box">
										<span class="icon-bg icon-bg-2">
											<img src="assets/images/add-cart.png" alt="add-cart">
										</span>
										<h2>总订单</h2>
									</div><!--/.icon-box-->
									<h3>15500</h3>
									<p>10 新</p>
								</div><!--/.profile-state-->
							</div><!--/.col-->
							<div class="col-sm-3">
								<div class="profile-state">
									<div class="icon-box">
										<span class="icon-bg icon-bg-3">
											<img src="assets/images/money-icon.png" alt="money-icon">
										</span>
										<h2>总利润</h2>
									</div><!--/.icon-box-->
									<h3>$43,900</h3>
									<p>本周 $340</p>
								</div><!--/.profile-state-->
							</div><!--/.col-->
							<div class="col-sm-3">
								<div class="profile-state">
									<div class="icon-box">
										<span class="icon-bg icon-bg-4">
											<img src="assets/images/plane-icon.png" alt="deliver-icon">
										</span>
										<h2>交付处理</h2>
									</div><!--/.icon-box-->
									<h3>2600</h3>
									<p>本周 120</p>
								</div><!--/.profile-state-->
							</div><!--/.col-->
						</div><!--/.row-->

					</div><!--/.profile-content-->

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="box">
								<div class="box-head">
									<h2>统计</h2>
									<div class="statistics-data">
										<div class="stat-income">
											<p><span class="income-dot"></span>收入</p>
											<p><span class="income-dot outcome-dot"></span>结果</p>
										</div><!--/.stat-income-->
									</div><!--/.statistics-data-->
								</div><!--/.box-head-->
								<div class="item">
									<div id="statistics_data" class="ct-chart"></div>
								</div><!--/.item-->
							</div><!--/.box-->
						</div><!--/.col-->
						<div class="col-md-6 col-sm-6">
							<div class="box">
								<div class="box-head">
									<h2>顶级地点的全球销售额</h2>
								</div><!--/.box-head-->
								<div class="item">
									<div class="map" id="bubbles" style="position:relative;height: 170px;">
										
									</div>
									<div class="statistics-data">
										<div class="map-area">
											<ul>
												<li>
													<span class="map-dot ps-dot2"></span>北美
												</li>
												<li>
													<span class="map-dot ps-dot3"></span>南美洲
												</li>
												<li>
													<span class="map-dot ps-dot4"></span>亚洲
												</li>
												<li>
													<span class="map-dot ps-dot1"></span>非洲
												</li>
											</ul>
										</div><!--/.map-area-->
									</div><!--/.statistics-data-->
								</div><!--/.item-->
							</div><!--/.box-->
						</div><!--/.col-->

					</div><!--/.row-->

					<div class="row">
						<div class="col-sm-8">
							<div class="box">
								<div class="box-head">
									<h2>前5个搜索项目</h2>
								</div><!--/.box-head-->
								<div class="item">
									<div class="item-responsive ">
										<table class="table">
											<thead>
												<tr>
													<th>ID＃</th>
													<th>保险名称</th>
													<th>用户</th>
													<th>价钱</th>
													<th>数量</th>
													<th>状态</th>
												</tr>
											</thead><!--/thead-->
											<tbody>
												<tr>
													<td><a href="#">1</a></td>
													<td>Samsung Galaxy S8</td>
													<td>Shamsu</td>
													<td>$25050</td>
													<td>185</td>
													<td>
														<span class="item-status delivered">交付</span>
													</td>
												</tr>
												<tr>
													<td><a href="#">2</a></td>
													<td>Samsung Galaxy S8</td>
													<td>Shamsu</td>
													<td>$25050</td>
													<td>185</td>
													<td><span class="item-status cancel">取消</span></td>
												</tr>
												<tr>
													<td><a href="#">3</a></td>
													<td>Samsung Galaxy S8</td>
													<td>Shamsu</td>
													<td>$25050</td>
													<td>185</td>
													<td><span class="item-status delivered">交付</span></td>
												</tr>
												<tr>
													<td><a href="#">4</a></td>
													<td>Samsung Galaxy S8</td>
													<td>Shamsu</td>
													<td>$25050</td>
													<td>185</td>
													<td><span class="item-status cancel">取消</span></td>
												</tr>
												<tr>
													<td><a href="#">5</a></td>
													<td>Samsung Galaxy S8</td>
													<td>Shamsu</td>
													<td>$25050</td>
													<td>185</td>
													<td><span class="item-status delivered">交付</span></td>
												</tr>
											</tbody><!--/tbody-->
										</table><!--/.table-->
									</div><!--/.table-responsive-->
								</div><!--/.item-->
							</div><!--/.box-->
						</div><!--/.col-->
						<div class="col-sm-4">
							<div class="box">
								<div class="box-head">
									<h2>项目状态</h2>
								</div><!--/.box-head-->
								<div class="item">
									<div id="product_status" class="ct-chart"></div>
									<div class="statistics-data">
										<div class="stat-income pl0">
											<p><span class="income-dot ps-dot2"></span>余量</p>
											<p class="ml10"><span class="income-dot ps-dot3"></span>利润</p>
											<p class="ml10"><span class="income-dot ps-dot4"></span>丢失</p>
											<p><span class="income-dot ps-dot1"></span>其他</p>
										</div><!--/.stat-income-->
									</div><!--/.statistics-data-->
								</div><!--/.item-->
							</div><!--/.box-->
						</div><!--/.col-->

					</div><!--/.row-->

					<div class="row">
						<div class="col-sm-12">
							<div class="box">
								<div class="box-head">
									<h2>年度费用</h2>
									<div class="year-info">
										<div class="year-info-content">
											<div class="year-color year-color-1"></div>
											<h4>2015</h4>
										</div><!--/.year-info-content-->
										<div class="year-info-content">
											<div class="year-color year-color-2"></div>
											<h4>2016</h4>
										</div><!--/.year-info-content-->
										<div class="year-info-content">
											<div class="year-color year-color-3"></div>
											<h4>2017</h4>
										</div><!--/.year-info-content-->
									</div><!--/.yaer-info-->
								</div><!--/.box-head-->
								<div id="yarly_expence" class="ct-chart"></div>
							</div><!--/.box-->

						</div><!--/.col-->

					</div><!--/.row-->

				</div><!--/.container-fluid-->;
				
			</div><!--/.main-content-->

		</div>
		<!-- END MAIN -->

		<div class="clearfix"></div>

		<footer>
			<div class="container-fluid">
				<p>&copy; 2017 ThemeSINE. All Right Reserved - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			</div>

		</footer>

	</div>
	<!-- END WRAPPER -->


        <!--jquery-1.12.4.min.js-->
        <script  src="assets/js/jquery.min.js"></script>

		<!--chartist.min.js-->
        <script src="assets/chartist/js/chartist.min.js"></script>
        <script src="assets/chartist/js/chartist-tooltip-plugin.js"></script>
        <script src="assets/chartist/js/chartist-custom.js"></script>
        
        <!--bootstrap.min.js-->
        <script src="assets/js/bootstrap.min.js"></script>
		
		<!--jquery.slimscroll.min.js-->
        <script src="assets/js/jquery.slimscroll.min.js"></script>
		
		<!--feather.min.js-->
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

		<!-- DataMaps Plugin Js -->
        <script src="assets/js/d3.min.js"></script>
        <script src="assets/js/topojson.js"></script>
        <script src="assets/js/datamaps.world.min.js"></script>

        <!--fontawesome-all.min.js-->
        <script src="assets/js/fontawesome-all.min.js"></script>
        
        <!--Custom JS-->
        <script src="assets/js/custom.js"></script>
		
    </body>
</html>