<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Simple login form</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <div class="container">
  <div class="login">
  	<h1 class="login-heading">
      <strong>欢迎.</strong> 欢迎.请登录.</h1>
      <form method="get" action="/index">
        <input type="text" name="user" placeholder="Username" required="required" class="input-txt" />
          <input type="password" name="pwd" placeholder="Password" required="required" class="input-txt" />
          <div class="login-footer">

            <button type="submit" class="btn btn--right">Sign in  </button>
    
          </div>
      </form>
  </div>
</div>
  
  

    <script  src="js/index.js"></script>




</body>

</html>
