<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.DamageOfGoodsVerifyMapper">
    <update id="update" parameterType="map">
        update damage_of_goods_verify set is_adopt = #{is_adopt} where verify_id = #{verify_id}
    </update>
    <insert id="audit" parameterType="map">
        insert into damage_of_goods_verify values
        (
            uuid(),#{is_adopt},#{verify_comment},
            #{damage_of_goods_id},#{emp_id},#{verify_time},#{instance_id}
        )
    </insert>
</mapper>